/* reset start */
body,
p,
h2,
dl,
dd{
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    margin:0;
    padding: 0;
    list-style: none;
}
input{
    outline: none;
    padding: 0;
    border: none;
    background: none;
}
img{
    border:none;
    vertical-align: top;
}


/* reset end */

/* 工具样式 */
html,
body{
    width:100%;
    height:100%;
}
body{
    position: relative;
    font: 16px "宋体";
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear_fix{
    zoom: 1;
}
.clear_fix:after{
    content: "";
    display: block;
    clear: both;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.abs{position: absolute;}
.rel{position: relative;}
/* skin 皮肤 */
.theme_box,
.theme_box img{
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    overflow: hidden;
}
.theme_box img{
    width:100%;
}
/* 头部吊顶 */
.top_btn_box{
    left: 0;
    top: 0;
    z-index:2;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    *filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);/* * IE6-8 */
}
.top_btn_list{
    right: 30px;
    line-height: 30px;
}
.top_btn_list a,
.top_btn_list span{
    float: left;
}
.top_btn_list a{
    text-align: center;
    color: #fff;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    transition: color .2s linear;
}
.top_btn_list span{
    padding:0 5px;
    color: #ddd;
}
.top_btn_list a:hover{
    color: #f40;
}
/* 顶部皮肤盒子 */
.top_skin_box{
    left: 0;
    top: 0;
    z-index:3;
    width:100%;
    height:0px;
    background-color: #fff;
    opacity:0;
    filter: alpha(opacity: 0);
    overflow: hidden;/* 超出的隐藏起来，防止大盒子隐藏了，里面的元素还在 受影响 */
}
.top_menu_box{
    width: 960px;
    height: 30px;
    margin: 0 auto;
}
.top_menu_list .top_current a{
    background: #389cff;
    color: #fff;
}
.top_menu_list,
.top_menu_list li,
.top_menu_list a{
    float: left;
}
.top_menu_list li{
    margin: 0 4px;
}
.top_menu_list a{
    padding: 0 5px;
    line-height: 30px;
    -webkit-transition: background .3s,color .3s;
    -moz-transition: background .3s,color .3s;
    -ms-transition: background .3s,color .3s;
    transition: background .3s,color .3s;
}
.top_skin_sq{
    float: right;
    padding-left: 18px;
    background: url(../images/skin/sq.png) no-repeat left center;
    line-height:30px;
}
.top_line{
    width:100%;
    height:1px;
    background-color: #000;
}
.top_img_box{
    width: 960px;
    margin: 10px auto 0;
}
.top_select_pic ul{
    left:0;
    top:0;
    width: 590px;
    height:246px;
}
.top_cartoon,
.top_star,
.top_Simple,
.top_scene,
.top_loves,
.top_custom{
    display: none;
}
.top_select_pic .show{
    display: block;
}
.top_select_pic li,
.top_select_pic li img{
    float: left;
}
.top_select_pic li{
    margin-right: 1px;
    margin-bottom: 1px;
}
.top_select_pic .big{
    width: 195px;
    height: 119px;
    cursor: pointer;
}
.top_select_pic img{
    width: 97px;
    height: 59px;
    cursor: pointer;
}
.top_select_pic .last{
    position: relative;
    top: -60px;
}
/* 上传图片区域 */
.top_ftpArea{
    width: 290px;
    height: 184px;
    border: 1px solid#eee;
    background: url(../images/gn/add_img.png)
                no-repeat
                center 5px
                rgba(0, 0, 0, 0.02);
    text - align: center;
}
/* 上传图片规格 */
.top_ftpArea img {
    width: 100% ;
    height: 100% ;
}
/* 上传右边操作按钮 */
.top_ftpAction{
    height: 180px;
    margin-left: 20px;
}
.top_fileInput{
    width: 210px;
    height: 36px;
}
.top_upFileBtn{
    display: block;
    overflow: hidden;
    border-radius: 3px;
    background: #00b7ee;
    text-align: center;
    font: 16px/36px "微软雅黑";
    color: #fff;
    cursor: pointer;
    -webkit-transition: background .3s,color .3s;
    -moz-transition: background .3s,color .3s;
    -ms-transition: background .3s,color .3s;
    transition: background .3s,color .3s;
}

/* 用于js使用  因为此法不兼容IE低版本 */
.top_upFileBtn:hover,
.top_useImg:hover,
.top_noImg:hover
{
    background-color: #42c7ef;
    color: #505050;
}
.top_upload_notes p,
.top_upload_detail p{
    height: 30px;
    line-height: 30px;
    color: #B3B3B3;
}
.top_upload_detail{
    display: none;
}
.top_confirm_btn{
    margin-top: 24px;
    height: 36px;
}
.top_useImg,
.top_noImg{
    width: 100px;
    height: 36px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font: 16px/36px "微软雅黑";
    color: #fff;
    cursor: pointer;
    -webkit-transition: background .3s,color .3s;
    -moz-transition: background .3s,color .3s;
    -ms-transition: background .3s,color .3s;
    transition: background .3s,color .3s;
}
.top_useImg{
    background: #00B7ee;
}
.top_noImg{
    background: #fff;
    color: #000;
}
.top_bg_yl{
    width: 369px;
    height: 180px;
}
.top_bg_yl img{
    width:100%;
    height: 100%;
}


/* 登录和注册界面公共样式 */
.top_login,
.top_reg,
.top_change_password{
    left:0;
    top: 0;
    z-index: 3;
    width: 400px;
    margin: 0 auto;
    background: #f4f4f4;
    font-size: 14px;
    /-display: none;
    overflow: hidden;
}
.ts{
    color: #464646;
}
.msg{
    left:60px;
    top: 0;
    color: #a9a9a9;
}
/* 登录界面 */
.top_login{
    height: 350px;
}
.top_login{
    z - index: 21;
}
.top_login_title,
.top_reg_title,
.top_change_password_title{
    height: 60px;
    border-bottom: 1px solid #000;
    background-position:center center;
    background-repeat: no-repeat;
}
.top_login_title{
    height: 60px;
    border-bottom: 1px solid #000;
    background-image: url(../images/gn/login_title_bg.png);
}
.top_close_btn{
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../images/gn/login_x.png) no-repeat;
    cursor: pointer;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}
.top_login_panel,
.top_change_password_panel{
    position: relative;
    padding: 30px 40px;
}
.top_login_user,
.top_login_password,
.top_old_password_wrap,
.top_new_password_wrap{
    width:300px;
    height: 40px;
    margin-bottom: 30px;
    line-height: 40px;
}
.top_login_user_name,
.top_login_user_password,
.top_old_password,
.top_new_password{
    width: 240px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid #c7c7c7;
    line-height: 30px;
}
.top_rember_status{
    height: 15px;
    padding: 12px 46px;
    line-height: 15px;
}
.top_rember_status input{
     width: 15px;
     height: 15px;
     margin - right: 5px;
     vertical-align: middle;
 }
.top_reg_btn{
    position: absolute;
    right: 53px;
    bottom: 74px;
    width: 50px;
    height: 50px;
}
.top_log_btn{
    width: 240px;
    height: 35px;
    margin: 22px 50px 10px;
    font: 500 18px/36px "微软雅黑";
    background: #ff9c00;
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    -ms-transition: background-color 1s linear;
    transition: background-color 1s linear;
}
.top_log_btn:hover{
    font-size: 20px;
    background: red;
    color: #505050;
}

/* 注册界面 */
.top_reg{
    height: 430px;
}
.top_reg_title{
    background-image: url(../images/gn/reg_title_bg.png);
}
.top_reg_panel{
    margin-top: 40px;
}
.top_reg_user,
.top_reg_password,
.top_confirm_password,
.top_reg_sex{
    height: 56px;
    margin-bottom: 10px;
    margin-left: 22px;
    line-height: 28px;
    position: relative;
}
.top_reg_user_name,
.top_reg_user_password,
.top_reg_confirm_password{
    width: 238px;
    height: 25px;
    margin-left: 10px;
    border: 1px solid#b9b9b9;
}
.ts_left{
    left: 72px;
}
.top_reg_sex{
    margin-left: 48px;
}
.top_reg_sex span{
    margin-right: 10px;
}
.top_reg_sub_btn{
    width: 240px;
    height: 35px;
    margin: 0px 78px 10px;
    font: 500 18px/36px "微软雅黑";
    background: #ff9c00;
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    -ms-transition: background-color 1s linear;
    transition: background-color 1s linear;
}
/* 登录状态 */
.top_login_status{
    top: 0;
    left: 118px;
    z-index: 3;
    width: 156px;
    height: 30px;
    font: 16px/30px "微软雅黑";
    display: none;
}
.top_login_img{
    float: left;
    width: 25px;
    height: 36px;
}
.top_login_online{
    display: inline-block;
    padding-left: 14px;
}
.top_login_online a{
    color: #fff;
}
/* 鼠标移入 */
.top_login_status .mouse {
     display: inline-block;
     margin-left: 5px;
     padding-left: 8px;
     width: 92px;
     background: #F9F9F9;
 }
.top_login_status .mouse a {
      color: #000;
  }
.top_login_select{
   display: none;
    width: 100px;
    height: 62px;
    overflow: hidden;
}
.top_login_list{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100px;
}
.top_login_list li,
.top_login_list a{
    display: block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    background: #F9F9F9;
    color: #000;
}
.top_login_list li a:hover {
    background: #4d9ee2;
    color: #fff;
}
.arrow{
    position: absolute;
    top: -4px;
    right: 15px;
    display: none;
}
.arrow img{
    cursor: pointer;
    vertical-align: middle;
}
/* 修改密码界面 */
.top_change_password{
    height: 346px;
}
.top_change_password_title{
    background-image: url(../images/gn/change_pas_title.png);
}
.top_sure_btn{
    margin: 48px 50px;
    width: 260px;
}
.top_change_btn,
.top_not_change_btn{
    width: 100px;
    height: 35px;
    margin-right: 20px;
    font: 500 18px/36px "微软雅黑";
    background: #ff9c00;
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    -ms-transition: background-color 1s linear;
    transition: background-color 1s linear;
}
.ts_margin{
    margin-right:10px;
}
/* 天气预报界面 */
.top_weather{
    top: 100px;
    left: 300px;
    z-index: 3;
    width: 318px;
    height: 300px;
    padding: 10px 26px 42px;
    border: 1px solid#ddd;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #5A66F5, rgb(67, 70, 167));
    box-shadow: 0px 0px 5px 0px #031;
    color: #fff;
    font-size: 14px;
    opacity: 1;
    filter: apha(opacity: 0);
    /-display: none;
}
.top_weather h2{
    font-size:14px;
}
.top_curWeaher_info dd{
    height: 40px;
    line-height: 40px;
}
.top_weather_title{
    height: 30px;
    line-height: 30px;
}
.top_weather_tips{
    padding: 10px 0;
    line-height: 20px;
}
.top_weather_temp{
    line-height: 55px;
}
.top_weather_details{
    margin-top: 10px;
}
.top_weather_today,
.top_weather_tomorrow,
.top_weather_after_tomorrow{
    width: 100% ;
    border-top:1px solid#ddd;
    overflow: hidden;
}
.top_weather_today dd,
.top_weather_tomorrow dd,
.top_weather_after_tomorrow dd{
    float: left;
    height: 46px;
    line-height: 46px;
}
.top_weather_today .top_air_temp,
.top_weather_tomorrow .top_air_temp,
.top_weather_after_tomorrow .top_air_temp{
    margin-left: 20px;
}
.top_weather_today .top_weaher_img,
.top_weather_tomorrow .top_weaher_img,
.top_weather_after_tomorrow .top_weaher_img{
    float: right;
}
.top_change_city_btn{
    width: 50px;
    color: #fff;
}

/* 天气小助手  省市县三级联动 */
.top_weather_assistant{
    top: 0px;
    left: 0px;
    z - index: 3;
    width: 420px;
    height: 170px;
    border: 1px solid #848484;
    background: #fff;
    /-display: none;
}
.top_weather_assistant_title{
    height: 30px;
    text-indent: 20px;
    line-height: 30px;
    background: #278827;
    color: #fff;
}
.top_weather_prov_box{
    position: relative;
    width: 400px;
    margin-eft: 100px;
}
.top_weather_prov_box span{
    position: absolute;
    top: 30px;
    left: -80px;
    display: inline-block;
    color: #000;
}
.top_select_list{
    width: 93px;
    height: 30px;
    margin: 25px 10px 0 0;
    line-height: 30px;
    background: url(../images/gn/zlxg2.jpg) no-repeat;
    display: inline;
    cursor: pointer;
}
.top_select_item{
    width: 70px;
    color: #333;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: 12px/30px "微软雅黑"
}
.top_select_options{
    top: 54px;
    width: 90px;
    max-height: 224px;
    border: 1px solid #ded3c1;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    display: none;
}
.top_select_options li {
    padding-left: 10px;
    color: #333;
    white-space: nowrap;
    font: 12px/28px "微软雅黑"
}
/* 用js解决兼容问题 */
.top_select_options li:hover {
     background-color: #278827;
     font-size: 18px;
 }
.top_save_btn{
    padding: 82px 10px 10px 182px;
    height: 30px;
}
.top_save_btn input{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 30px;
    background: #fff;
    cursor: pointer;
}
/*  用js解决兼容问题 */
.top_save_btn input:hover{
    border: 1px solid#008000;
}